[Desktop Entry]
Type=Application
Name=Xime Input Method
Name[zh_CN]=曦码·澈输入法
Comment=Chinese input method for Wayland
Comment[zh_CN]=Wayland 中文输入法
Exec=/usr/bin/xime-launcher
Icon=xime
Categories=Utility;InputMethod;
Keywords=input;ime;chinese;wayland;
StartupNotify=false
NoDisplay=true